<div
  id="dashboard"
  data-language="<%= I18n.locale.to_json %>"
>
</div>
<h1>dashboard</h1>
<% if user_signed_in? %>
  <li class="nav-item active">
    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else%>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>