// git rid of stupid standard body margin
body {
  margin: 0;
}

// get rid of stupid standard ugly text decorations on links
a {
  text-decoration: none;
}

// fullscreen viewport-sized landing page; no scrolling
#landing {
 background-image: url(https://haijisite.files.wordpress.com/2019/05/img_4641.jpg?w=1192&h=&zoom=2);
 background-size: cover;
 height: 100vh;
 width: 100vw;
 position: relative;
}

// a box for the info on the landing page
#landing-info {
 background-color: $med-blue;
 width: 500px;
 height: 400px;

  h1 {
    color: white;
    font-size: 64px;
  }

  p {
    color: white;
  }

  a {
    color: white;
  }

  .button {
    margin: 8px;
    margin-top: 24px;
    background-color: $brown;
    width: 120px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    p a {
      color: white;
      margin: 0;
      font-weight: bold;
    }
    &:active {
      box-shadow: none;
    }
  }
}


// for smartphones in horizontal
@media only screen and (max-width: 736px) {
 #landing {
   width: 100vw;
   height: 100vh;
   margin: auto;
   display: flex;
   align-items: center;
   background-position: center center;
 }

 #landing-info {
   border-radius: none;
   text-align: center;
   box-shadow: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 33%;
   height: auto;
   background-color: rgba(0,0,0,0.2);

   h1 {
     font-size: 32px;
     margin: 0;
     margin-bottom: 16px;
   }

   p {
      color: white;
      margin: 4px 0;
      text-shadow: 2px, 2px, 2px, black;
      font-weight: lighter;
    }

    .button {
      position: static;
      margin: 8px;
      margin-top: 12px;
      background-color: $brown;
      width: 80px;
      height: 32px;
      border-radius: 4px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: white;
        margin: 0;
        font-weight: bold;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

// for smartphones in vertical
@media only screen and (max-width: 425px) {
 
  #landing-info {
    width: 80%;
  }
}