#sessions {
  background-image: image-url('login-background');
  background-position: right;
  height: 100vh;

  #session-form {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    background-color: rgba(0,0,0,0.8);

  }
}