.list-header {
  display: block;
  text-align: center;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 425px) {
  .list-header {
    font-size: 24px;
  }
}