#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-control {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-nav-control {
  position: absolute;
  top: 36px;
  left: 0;
  padding: 10px;
}

.map-scale-control {
  position: absolute;
  bottom: 36px;
  left: 0;
  padding: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.marker {
  position: absolute;
  color: $dark-blue;
  text-shadow: 0px 0px 1px white;
  font-size: 8px;
  cursor: pointer;
}

.popup {
  height: 250px;
  width: 250px;
}

@media only screen and (max-width: 425px) {
  .sidebar-visible {
    width: 10% !important;
  }
}