#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  color: $dark-blue;
  text-shadow: 0px 0px 1px white;
  font-size: 8px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 425px) {
  .sidebar-visible {
    width: 10% !important;
  }
}