#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-control {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-nav-control {
  position: absolute;
  top: 36px;
  left: 0;
  padding: 10px;
}

.map-scale-control {
  position: absolute;
  bottom: 36px;
  left: 0;
  padding: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.marker {
  position: absolute;
  color: $dark-blue;
  text-shadow: 0px 0px 1px white;
  font-size: 8px;
  cursor: pointer;
}

.popup-img {
  width: 250px;
  margin-left: 16px;
  margin-top: 4px;
  margin-right: 4px;
  object-fit: cover;
}

.img-hidden {
  display: none;
}

.popup-content {
  display: flex;
}

@media only screen and (max-width: 425px) {
  .sidebar-visible {
    width: 10% !important;
  }

  .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin: 8px;
    }
  }

  .mapboxgl-popup-content {
    padding: 8px !important;
  }

  .popup-img {
    object-fit: cover;
    margin: 0;
    width: 100%;
  }
}