.mountain-sidebar {
  background-color: $light-blue;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 2s;

  .area-list {
    overflow: auto;
    height: 100%;
  }

  h2 {
    background-color: $dark-blue;
    color: white;
    padding: 16px 24px;
  }

  h3 {
    padding: 8px 24px;
  }

  h2, h3 {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0
  }
}

.sidebar-item {
  &:hover {
    background-color: $med-blue;
  }
}

@media only screen and (max-width: 425px) {
  .mountain-sidebar {
    display: none;
    width: 90%;
  }

  .visible {
    display: flex !important;
    position: absolute;
    z-index: 2;
    transition-duration: display 2s;
  }
}