.navbar {
  display: flex;
  background-color: $dark-blue;
  justify-content: space-between;
  padding: 8px;

  .fas {
    font-size: 32px;
    color: white;
    margin: 0 8px;
  }
}

.left-top-nav {
  flex-grow: 1;
}

.center-top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  max-width: 33%;
}

.right-top-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .set-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
  }
}

.logo-holder {
  height:45px;
  width: 45px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  .nav-logo {
    height: 140%;
    position: absolute;
    top: -8px;
  }
}

.bottom-nav {
  display: none;
}

@media only screen and (max-width: 425px) {
  .logo-holder {
    height: 32px;
    width: 32px;
  }

  .right-top-nav {
    .set-lang {
      height: 32px;
      width: 32px;
      font-size: 20px;
    }
  }

  .center-top-nav {
    display: none;
  }

  .left-top-nav {
    width: 50%;
  }

  .right-top-nav {
    width: 50%;
  }

  .bottom-nav {
    display: flex;
    justify-content: center;
  }

  .center-bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .left-bottom-nav {
    display: none;
  }

  .right-bottom-nav {
    display: none;
  }
}