/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'font-awesome';
 @import 'config/colors';
 @import 'config/fonts';
 @import 'config/scrollbar';
 @import 'components/index';
 
 body {
   margin: 0;
 }

 .app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#list_app {
  height: 100%;
  overflow: hidden;
}

.box {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-box {
  height: 100%;
  width: 100%;
}

#landing {
  background-image: url(https://haijisite.files.wordpress.com/2019/05/img_4641.jpg?w=1192&h=&zoom=2);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#landing-info {
  position: absolute;
  background-color: $med-blue;
  top: 5%;
  left: 3%;
  border-radius: 8px;
  width: 500px;
  height: 400px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    font-size: 64px;
  }

  p {
    color: white;
  }

  .button {
    margin: 8px;
    background-color: $brown;
    width: 120px;
    height: 64px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    p {
      color: white;
      margin: 0;
      font-weight: bold;
    }
    &:active {
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 425px) {
  #landing {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    background-position: center center;
  }

  #landing-info {
    border-radius: none;
    text-align: center;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: rgba(0,0,0,0.2);

    h1 {
      font-size: 32px;
      margin: 0;
      margin-bottom: 16px;
    }

    p {
      color: white;
      margin: 0;
      text-shadow: 2px, 2px, 2px, black;
    }

    .button {
      position: static;
      margin: 8px;
      background-color: $brown;
      width: 80px;
      height: 32px;
      border-radius: 4px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: white;
        margin: 0;
        font-weight: bold;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}